<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cifrado César - Home</title>
    <link rel="icon" type="image/png" href="../assets/images/cc.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="background">
      <section class="container-flex-column vh100">
        <div class="box-form">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h2 class="center-align">Cifrado césar</h2>
              </div>
            </div>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="sentence" type="text" class="validate">
                    <label for="sentence">Ingresa una frase a encriptar:</label>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="col s10 m10 l12 offset-s1 offset-m1">
                <a id="btn-cipher" class="btn-large pulse encriptar">Encriptar frase</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script type="text/javascript" src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript" src="../js/view-sentence.js"></script>
  </body>
</html>
